
.hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.hamburger .bar{
    background-color: var(--bg-white);
    height: 3px;
    width: 24px;
    border-radius: 10px;
}

.cross{
    display: flex;
    justify-content: center;
    align-items: center;
}


.cross .line{
    width: 16px;
    height: 2px;
    background-color: var(--text-dark);
    position: relative;

    transform: rotate(45deg);
}

.cross .line::before{
    content: "";
    width: 16px;
    height: 2px;
    background-color: var(--text-dark);

    position: absolute;
    transform: rotate(-90deg);
}