

/* layouts */

.section-container{
    width: 100%;
    max-width: var(--standard-width);
    margin: 0 auto;
}

.section-full-width{
    width: 100%;
    display: flex;
    justify-content: center;
}

.two-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.two-column > .col-left{
    width: 50%;
    box-sizing: border-box;
    padding-inline-end: var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.two-column > .col-right{
    width: 50%;
    box-sizing: border-box;
    padding-inline-start:var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


/* Subtitles */
.subtitle-purple, .subtitle-blue{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-height);
}

.subtitle-purple{
    color: var(--purple-1);
}

.subtitle-blue{
    color: var(--blue-1);
}

.secondary-text{
    font-size: var(--secondary-text-size);
    /* font-weight: 500; */
    line-height: var(--secondary-text-height);
    color: var(--text-grey);
    letter-spacing: 1.5px;
}

/* Card */

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card .icon{
    height: 50px;
    margin-bottom: var(--spacing-sm);
}

.card h3{
    font-size: var(--h6-size);
    
}


/* Buttons */
.primary-button{
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-accent);
    color: var(--text-light);
    padding: var(--spacing-sm) var(--spacing-md);
    transition: all 150ms ease;
}   

.primary-button:hover{
    background-color: var(--primary-button-hover);
    cursor: pointer;
}

.secondary-button{
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: var(--primary-accent);
    transition: all 150ms ease;
}

.secondary-button:hover{
    opacity: 0.75;
    cursor: pointer;
}

.with-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.with-icon > img{
    transition: transform 250ms ease;
}

.with-icon:hover > img{
    transform: translateX(4px);
}

.navbar-button{
    background-color: rgba(250, 250, 250, 0.25);
}

.navbar-button:hover{
    background-color: rgba(250, 250, 250, 0.5);
}


/* Helpers */

.nowrap{
    white-space: nowrap;
}


.sr-only{
    position: absolute;
    left: -10000px;
}

